<body>
	<h1>Bug Tracker</h1>
	<hr>
	<section class="stats">
		<span class="closed">{{getClosedBugCount()}}</span>
		<span> / </span>
		<span>{{bugs.length}}</span>
	</section>
	<section class="sort">
		<label for="">Order By :</label>
		<select name="" id="">
			<option value=""></option>
			<option value=""></option>
		</select>
		<label for="">Descending ? :</label>
		<input type="checkbox" name="" id="">
	</section>
	<section class="edit">
		<label for="">Bug Name :</label>
		<input type="text" name="" id="" (change)='bugName = $event.target.value'>
		<input type="button" value="Add New" (click)='onClickAddNew(bugName)'>
	</section>
	<section class="list">
		<ol>
			<li *ngFor='let bug of bugs'>
				<span class="bugname" (click)='onClickBugName(bug)' [ngClass]="bug.isClosed?'closed':'open'">{{bug.bugName}}</span>
				<div class="datetime">{{bug.createdAt | date:'short'}}</div>
			</li>
			
		</ol>
		<input type="button" value="Remove Closed" (click)='onClickRemoveClosed()'>
	</section>
</body>