<body>
	<h1>Bug Tracker</h1>
	<hr>
	<section class="stats">
		<span class="closed">{{getClosedBugCount()}}</span>
		<span> / </span>
		<span>{{bugs.length}}</span>
	</section>
	<section class="sort">
		<label for="">Order By :</label>
		<select name="" id="" (change)='bugSortAttribute = $event.target.value'>
			<option value="bugName">Name</option>
			<option value="isClosed">Status</option>
		</select>
		<label for="">Descending ? :</label>
		<input type="checkbox" name="" id="" (change)='bugSortDirection = $event.target.checked? -1 : 1'>
	</section>
	<section class="edit">
		<label for="">Bug Name :</label>
		<input type="text" name="" id="" (change)='bugName = $event.target.value'>
		<input type="button" value="Add New" (click)='onClickAddNew(bugName)'>
	</section>
	<section class="list">
		<ol>
			<li *ngFor='let bug of (bugs|sortBugs:bugSortAttribute:bugSortDirection)'>
				<span class="bugname" (click)='onClickBugName(bug)' [ngClass]="bug.isClosed?'closed':'open'">{{bug.bugName | trimTextPipe:40}}</span>
				<div class="datetime">{{bug.createdAt | date:'short'}}</div>
			</li>
			
		</ol>
		<input type="button" value="Remove Closed" (click)='onClickRemoveClosed()'>
	</section>
</body>